<footer>


<div class="footer-container">


<div>


<button 
class="brand"
(click)="navigate('landing')"
>


<div class="logo">

⌂

</div>


<span>
SportReserva
</span>


</button>



<p>

La plataforma más fácil para reservar canchas deportivas en Bolivia.

</p>


<div class="social">


<a>F</a>

<a>I</a>

<a>T</a>


</div>


</div>



<div>


<h4>
Plataforma
</h4>


<a>
Explorar canchas
</a>


<a>
Cómo funciona
</a>


<a>
Mis reservas
</a>


<a>
Iniciar sesión
</a>


</div>




<div>


<h4>
Establecimientos
</h4>


<a>
SportCenter Norte
</a>


<a>
Arena Sports Club
</a>


<a>
Complejo Sur
</a>


<a>
Ver todos
</a>


</div>




<div>


<h4>
Contacto
</h4>


<p>
info@sportreserva.bo
</p>


<p>
+591 2 234-5678
</p>


<p>
La Paz, Bolivia
</p>



<a>
Términos y condiciones
</a>


<a>
Política de privacidad
</a>


</div>


</div>



<div class="copyright">


© 2026 SportReserva. Todos los derechos reservados.


</div>


</footer>