<nav class="navbar">


<div class="container">


<!-- LOGO -->

<button 
class="logo"
(click)="navigate('landing')"
>


<div class="logo-box">


<svg viewBox="0 0 24 24">

<path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1"/>

</svg>


</div>


<span>

SportReserva

</span>


</button>



<!-- MENU DESKTOP -->


<div class="menu">


<button
[class.active]="currentPage==='landing'"
(click)="navigate('landing')"
>

Inicio

</button>



<button
(click)="navigate('courts')"
>

Canchas

</button>



<button
(click)="navigate('landing')"
>

Cómo funciona

</button>



<button
(click)="navigate('my-reservations')"
>

Mis reservas

</button>


</div>




<!-- ACTIONS -->


<div class="actions">


@if(isLoggedIn){


<button 
class="user"
(click)="navigate('my-reservations')"
>


<span>

CM

</span>


Carlos M.

</button>



}

@else{


<button
class="login"
(click)="navigate('login')"
>

Iniciar sesión

</button>


}



<button
class="reserve"
(click)="navigate('courts')"
>

Reservar cancha

</button>



</div>



<button 
class="mobile"
(click)="mobileOpen=!mobileOpen"
>


☰


</button>


</div>



@if(mobileOpen){


<div class="mobile-menu">


<button
(click)="navigate('landing')"
>

Inicio

</button>


<button
(click)="navigate('courts')"
>

Canchas

</button>


<button
(click)="navigate('my-reservations')"
>

Mis reservas

</button>



<button
class="reserve"
(click)="navigate('courts')"
>

Reservar cancha

</button>


</div>


}


</nav>