:host{
display:block;
}


input{

outline:none;

transition:.2s;

}


input:focus{

border-color:#10b981;

box-shadow:0 0 0 3px rgba(16,185,129,.15);

}



button{

cursor:pointer;

transition:.2s;

}



img{

object-fit:cover;

}